*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100vh;
}

.classHeader{
    margin-bottom: 10px;
}

.container {
    overflow: hidden;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.mainImage {
    width: 100%;
    height: 100%;
}

.inputContainer{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.mainImageTitle {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navBar{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 99;
    width: 100%;
    overflow: hidden;
}

.fullContact {
    display: flex;
    align-items: center;
    column-gap: 15px;
    justify-content: space-between;
}

.leftBar {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.topUberEats {
    height: 15px;
}

.rightBar {
    height: 4px;
    background-color: blueviolet;
}

.listedImages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 15px;
    margin-top: 800px;
}

.listedImageContainer {
    width: 100%;
    height: 360px;
    overflow: hidden;
    padding: 50px;
}

.Container1840 {
    width: 1840px;
    margin: 0 auto;
    overflow: hidden;
}

.topPart{
    padding: 50px;
   }

.map {
    width: 1888px;
    height: 360px;
    overflow: hidden;
    margin: 50px;
}

.footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.bottomPart {
    margin-top: 100px;
    overflow: hidden;
} 

.appStoreLogo {
    width: auto;
    height: 40px;
}

.download {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    margin-top: 50px;
}

.footerEats {
    display: flex;
    justify-content: flex-end;
}

